/** @format */

.card_container {
	display: flex;
	flex-wrap: wrap;
       
}

.card {
	background-color: #8fa1db; 
	height: 200px;
	width: 150px;
	margin: 5px;
	border: 2px solid black;
	cursor: move;
    display: grid;
    justify-content: center;
    word-wrap: normal;
}

.card > h2{
    font-size: 14px;
    text-align: center;
}

.card > p{
    font-size: 12px;
    margin: 5px;
    text-align: center;
}
